body {
    font-family: "segoe ui light", arial, sans-serif;
}

.btn-primary {
    font-size: x-large;
}

.container {
    text-align: center;
}

#weatherIcon {
    display: inline-block;
    height: 50px;
    width: 50px;
}

#temperature {
    font-size: 36pt;

}

.page-header {
    text-align: center;
    font-size: large;
}